.container{
    height: 400px;
    width: 400px;
    display: flex;
    background-color: bisque;
   flex-wrap: wrap;
   justify-content: center ;
   align-items: flex-end;
   align-content: center;

}
.item{
    border: dotted maroon 2px;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: lightgreen;
    font-size: 20pt;
    color: white;
}