.box{
    height: 100px;
    width: 100px;
    background-color: maroon;
    margin: 30px;
}
/* @media (max-width: 900px){
    .box{
        background-color: mediumblue;
    }
}
    @media (max-width: 600px) {
        .box{
            background-color: green;
        }
    } 
    or */
    @media (min-width:800){
        .box{
            background-color: green;
        }
    }
    @media (min-width: 1200px){
        .box{
            background-color: mediumblue;
        }
    }
